<h1>Stupid Coaching</h1>
<div class = "question-container">
<%= @question %>
<p>-You</p>
</div>

<div class = "answer-container">
<%= @answer %>
<p>-Your Coach</p>
</div>
 <p class="back"><%= link_to("Ask a new question", ask_path) %> </p>
