<h1>Stupid coaching</h1>
<form action="/answer" data-turbo="false">
<label for="question" class="d-block">Ask your coach anything</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
